*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{

}
/* en tete */
header{
    background-color:  #d35649;
    height: 10vh;

} 
header .flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
header .flex1 .logo{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
}
nav a:hover{
    color: #444;
}
.logo a{
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}
 nav a{
    padding-right: 1em;
    text-decoration: none;
    color: #fff;
}
nav a i{
    padding-right: 1em;
}
/* corp de l'about */
.roage h3{
    padding: 1em;
    color: #d35649;
    font-size: 1.5em;
}
.bloc-about{
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
    border: 2px solid rgba(0, 0, 0, 0.226);
    margin: 2em;
}
.grid-a{
    margin-left: 25%;
    margin-right: 20%;
    max-width: 700px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,300px);
    gap: 10px;
    height: auto;
}
.grid-a .grid-item{
    border:1px solid white ;
    height: 10vh;
    box-shadow: 2px 2px 2px 2px black;
  padding: 10px;
    margin: 10px;
    width: 300px;
}
.grid-item p{
    padding-top: 0.5em;
}
.grid-item p span{
    color: blue;
}
.c-A{ 
    margin-left: 550px;
    background-color: blue;
    height: 60px;
    width: 80px;
    border: 1px solid blue;
}
.c-A a{
    color: #fff;
    text-decoration: none;
}
.c-A a:hover{
    background-color: #509bd7;
    padding: 1.4em;
}
.flex{
    padding-top: 1.3em;
    padding-right: 26.4em;
    display: flex;
    justify-content: end;
}
.grid-item2{
    border: 1px solid black;
    
}
.conteneur{
    padding: 2em;
    display: flex;
    justify-content: space-around;
}
.element i{
    color: blue;
}
iframe{
    padding: 1em;
    width: 100%;
}

h5{
    color: #d35649;
}
.map a{
    font-size: 1.5em;
    padding: 2em;
    color: #444;
    text-decoration: none;
}
.map a:hover{
    text-decoration: underline;
}
h5{
    font-size: 1.2em;
    text-align: center;
}

/* pied */
footer{
    height: auto;
    color: #fff;
}
.espace{
    background-color:  #1f1f1f;
    height: auto;
}
.footer-p1{
    padding-top: 2em;
    height: 10vh;
    background-color: #1f1f1f  ;
    align-items: center;
    display: flex;
    justify-content: center;
}
.footer-p1 .tirer{
    padding: 1em;
    border-top: 1px solid #fff;
    border-bottom:1px solid #fff;
}
.footer-p1 .rond i{
    text-align: center;
}
.footer-p1 .rond{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;
    border: 1px solid #fff;
    border-radius: 50%;
}
.footer-p1 a{
    color: #fff;
    padding-left: 2em;
    text-decoration: none;
}
.footer-flex{
    padding-bottom: 2em;
    height: 20vh;
    background-color:  #1f1f1f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-flex input{
    text-align: center;
    border: 1px solid #444;
    background-color: #1f1f1f;

}
.footer-flex button{
    background-color: #444;
    color: #fff;
    border: 1px solid #444;
}
.email a:hover{
    text-decoration: underline;
}
.email a{
    color: #d35649;
    text-decoration: none;
}
.link-color p a:hover{
    text-decoration: underline;
}
.link-color a{
    color: #d35649;
    text-decoration: none;
}
.footre-copy{
    height: 5vh;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rs i:hover{
    color: #509bd7;
}
/* responsive de l'index */
@media only screen and (max-width: 600px) {
    /* en-tete */
    header{
        height: 15vh;
    }
    header .flex1 .logo {
        display: flex;
        justify-content: center;
        
    }
    /* logo */
    .logo h1{
        padding-left: 1em;
    }
    nav{
        padding-top: 1.2em;
    }    
    nav  .none{
        display: none;
    }
    header .flex1{
        display: flex;
        flex-direction: column;
    }
    /* corp */
     .roage{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .c-A{
        margin-left: 80px;
    }
    /* pied */
    .footer-p1{
    display: none;
    }
    .footer-flex{
        display: none;
    }
    .footre-copy{
        display: flex;
        flex-direction: column;
    }
    .footre-copy{
        padding: 1em;
        height: 10vh;
    }
    iframe{
        width: 500px;
    }
}